.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.logoSection {
    width: 100%;
}
.logo {
    width: 25vw;
    height: 10vh;
}

.form {
    max-width: 43rem;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgb(230, 230, 31);
}

.form-control {
    margin-bottom: 1rem;
}